.App {
  background: rgb(16,19,19);
  background: linear-gradient(180deg, rgba(16,19,19,1) 0%, rgba(29,35,36,1) 70%);
  width: 100vw;
  height: 100vh;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h4{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.maansLogo {
  width: 400px;
  -webkit-animation: puff-in-center 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@media screen and (max-width: 500px) {

  .maansLogo {
    width: 250px;
  }
}


/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}



